{% extends 'layouts/main.html' %}
{% block title %}Hash Tags{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Hash Tags Profile Generator </h1>
</div>
<p class="lead">Upload A Text(.txt) File Below To Get Started.</p>



<div class="card text-center">
  <div class="card-body">


    <!--  Upload Text File Here -->
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="input-group">
                    <input type="file" class="form-control" accept=".txt" name="hash-tag-file" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </form>


    {% if hash_tag_matrix is defined %}
    <!-- Hash Tags Matrix -->
    <h4 class="card-title" style="text-align: left;">Report File : {{ file_name }}</h4>
    <h4 class="card-title" style="text-align: left;">Report Scan Date: {{ scan_date }} </h4>
    <br/>
    <h3 class="card-text">Hash Tags Matrix</h3>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="text-center">Word (No of Occurrences)</th>
          <th scope="col" class="text-center">Sentences Containing Word</th>
        </tr>
      </thead>
      <tbody>
        {% for word, word_meta in hash_tag_matrix.items() %}
        <tr>
            <td><strong> {{ word }} </strong> ({{ word_meta|length }})</td>

            <td>
            {% for meta in word_meta %}
            <p class="text-left">{{ sentences[meta.sent_num] }}</p>
            <br/>
            {% endfor %}
            </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
    {% endif %}

  </div>
</div>
{% endblock %}