{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
<!--  <h1>Boiler Plate Code:</h1>-->
  <h1>Some H1 Heading for title: Users/People API </h1>
</div>
<p class="lead">
  Please Navigate to <a href="{{ url_for('hash_tag.get_hash_tags') }}">Hash Tags Matrix Profiler</a>.
</p>


<!--<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>-->

{% endblock %}
